<html>
  <head>

    <title>Accueil</title>   

  </head>

  <body>
  <center>
  <div class = 'container col-md-8'>
  <% if flash[:success] %>
  <div class="alert alert-success" role="alert"><% flash[:success] %><p>Ton gossip a bien été enregistré</p></div>
  <% end %>
  </div>

  <div class = 'container col-md-8'>
  <% if flash[:success] %>
  <div class="alert alert-success" role="alert"><% flash[:success] %><p>Plus personne ne verra cette horreur !</p></div>
  <% end %>
  </div>
  </center>
  </br></br>
  <center>
  <div class="container">
  <h1>BIENVENUE <%= @first_name %>! Ici c’est le site où ça balance sévère !</h1></br>
  </br></br>
  <h3>Pour créer un nouveau gossip c'est par là ↓↓↓</h3></br>
  <a href='/gossips/new' class='btn btn-info'>Je Balance</a></br></br>
  </div>
  </br></br>
  <p>Si tu veux assouvir ta curiosité malsaine voilà la petite liste des gossips</p></br>
  <div class="container">
  <div class="row">
    <% @gossips.each do |gossip| %>
    <div class="col-md-4">  
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title"><%= gossip.user.first_name %></h5>
    <p class="card-text"><%= gossip.title %></p>
    <h5><span class="badge badge-danger">
      <%= Comment.where(gossip: gossip.id).count %> <span style="font-size: .8em">commentaire(s)</span></span>
    <span class="badge badge-danger">
      <%= Like.where(gossip: gossip.id).count %> <span style="font-size: .8em">like(s)</span></span></a></h5>                    
    <%= link_to "En savoir plus", gossip_path(gossip.id), :class => 'btn btn-info' %>
    
    </div>
    </div>
    </div>
    <% end %></center>
    </div>
  </div>  je boss
  <center>
  <div>
  </br></br>
  </div></center>

  </body>

</html>