<html>
  <head>

    <title>Tous les gossips</title>   

  </head>

  <body>
  </div>
  </br></br>
    <center><h1>Tout savoir sur l'auteur</h1></br>
    <h5>Qui c'est :</h5>
    <p><%= @user.first_name %> <%= @user.last_name %></p></br>
    <h5>Son motto :</h5>
    <p><%= @user.description %></p></br>
    <h5>Comment le spammer :</h5>
    <p><%= @user.email %></p>
    <h5>Son âge :</h5>
    <p><%= @user.age %></p>
    <h5>Doukékivient :</h5>
    <p><%= @user.city.name %></p>
    <%= link_to "Je veux le/la trouver", city_path(@user.city.id), :class => 'btn btn-info'%> 
    
    </center>

    
  </body>